.nav{
    height: 32px;
    border-bottom: 1px solid #d9d9d7;
    .nav-1{
        width: 1303px;
        height: 32px;
        margin: auto;
        background: red;
        display:flex;
        justify-content: space-between;
    }
    .nav-2{
        width: 332.2px;
        height: 32px;
        background: rosybrown;
        font-size: 12px;
        text-align: left;
        display: block;
    }
    .nav-2 .welcome{
        line-height: 32px;
        color: #333;
        // margin-left: 19px;
        // margin-right: 14px;
        float: left;
        display: block;
    }
    .nav-2 .dl{
        // padding: 0 3px;
        color: #333;
        float: left;
        line-height: 32px;
        display: block;
    }
    .nav-2 .dl1{
        // padding: 0 3px;
        color: #333;
        float: left;
        line-height: 32px;
        display: block;
    }
    .nav-2 .songhuo{
        color: #333;
        float: left;
        line-height: 32px;
        display: block;
    }
    // .dizhi{
    //     position: absolute;
    //     z-index: 2;
    //     width: 113px;
    //     height: 22px;
    //     border: 1px solid #f6f6f6;
    //     background-color: #f6f6f6;
    //     padding-top: 4px;
    //     padding-left: 5px;
    //     font-size: 16px;
    //     float: left;
    // }
    .nav-2 .tb1{
        // font-family: "iconfont" !important;
        width: 16px;
        height: 16px;
        font-size: 16px;
        font-style: normal; 
        display: block;
        float: left;
        line-height: 32px;
    }
    .nav-2 .shanghai{
     width: 48px;
     height: 16px;
     display: block;
     float: left;
     font-size: 16px;
     line-height: 32px;
    }
    .nav-2 .genghuan{
        width: 49px;
        height: 16px;
        display: block;
        float: left;
        font-size: 16px;
        cursor: pointer;
        line-height: 32px;
    }
    .nav-3{
        width: 248px;
        height: 32px;
        background: blue;
        // float: left;
        display: flex;
        justify-content: space-evenly;
        font-size: 8px;
        .wode{
            width: 100px;
        }
        .guke{
            width: 77px;
        }
        .yidong{
            width: 55px;
        }
        .tvb{
            width: 46px;
        }
        .weixin{
            width: 70;
            font-size: 2px;
        }
    }
}

.logo{
    width: 1303px;
    height: 82px;
    margin: auto;
    background: #d9d9d7;
    margin-top: 10px;
    .logo1{
        display: block;
        float: left;
        height: auto;
        width: 140px;
        margin-top: 12px;
        padding: 0;
        text-align: right;
        font-size: 0;
        margin-right: 30px;
        margin-left: 10px;
    }
    .logo2{
        width: 210px;
        height: 70px;
        overflow: hidden;
        position: relative;
        float: left;
        margin: 6px 0 0 0
    }
    .ser{
        width: 450px;
        height: 70px;
        padding: 12px 0 0 41px;
        float: left;
         .search-bar {
            width: 444px;
            height: 34px;
            border: 3px solid #f12e24;
            position: relative;
            z-index: 100000;
            input {
                float: left;
                width: 367px;
                height: 34px;
                line-height: 34px;
                text-indent: 8px;
                border: 0;
                color: #9da6ab;
            }
            button {
                float: left;
                background: #f12e24;
                width: 77px;
                height: 34px;
                border: 0;
                color: #fff;
                font-size: 16px;
                line-height: 32px;
                font-weight: bold;
                text-align: center;
                font-family: 'Microsoft YaHei';
                cursor: pointer;
            }
        }
        .search-down {
            height: 40px;
            width: 450px;
        }
        .g-hotlist {
            float: right;
            margin-top: 5px;
            display: block;
            height: 18px;
            line-height: 18px;
            margin-right: 0;
        }
        .keywords {
            width: 361px;
            height: 28px;
            line-height: 28px;
            float: left;
            overflow: hidden;
        }
         li {
            float: left;
            margin-right: 8px;
            margin-left: 3px;
            line-height: 28px;
            height: 28px;
            list-style: none;
            font-size: 12px;
        }
    }
}

.mycart{
    float: left;
    padding-left: 17px;
    position: relative;
    width: 120px;
    height: 40px;
    margin-top: 12px;
    z-index: 100000;
}

.headerRight{
        width: 140px;   
        float: left;
}



.daohang{
    .red{
    height: 34px;
    width: 100%;
    position: relative;
    z-index: 99999;
    background: #f12e24;
    overflow: visible;
    font-size: 12px;
    .g-container-1190 {
        width: 1190px;
        margin: auto;
    }
    .g-all {
        width: 220px;
        height: 33px;
        padding: 0;
        padding-top: 1px;
        cursor: pointer;
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        line-height: 34px;
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: 'Microsoft YaHei'; 
    }
    .cur {
        background: #b8362f;
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    .cur1{
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei'; 
    }
    .cur2{
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    .g-global {
        z-index: 2;
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    .cur3{
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    .cur4{
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    .cur5{
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        float: left;
        height: 34px;
        line-height: 34px;
        position: relative;
        z-index: 1;
        padding: 0 19px;
        text-align: center;
        font-family: 'Microsoft YaHei';
    }
    }

.pf{
        width: 1190px;
        margin: auto;
        background-color: #fff;
        position: relative;
        height: 590px; 
.banner{
       width: 220px;
       height: 100%;
       position: relative;
       display: block;
       border-right: 1px solid #e0dfdf;
       z-index: 19;
       float: left;
       .menu{
        position: relative;
        z-index: 0.5;
        
        ul {
            overflow: hidden;
            padding: 10px 0;
            height: 450px;
            background-color: #fefefe;
            color: #636363;
            margin-top: 10px;
            width: 190px;
            li {
                height: 25px;
                line-height: 25px;
                padding-left: 18px;
                  a {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                   }
                   span {
                    padding: 0 2px;
                    font-size: 12px;
                       }
                
               }
            }
 .cartlist {
                position: absolute;
                left: 191px;
                top: 0;
                width: 998px;
                min-height: 468px;
                border: 1px solid #f7f7f7;
                background-color: #fff;
                box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
                display: none;
                transition: top 0.3s ease;
                .item {
                    padding: 20px;
                    display: none;
                }
            }
        }
    }
    .showr{
        float: left;
        display: block;
        position: relative;
        width: 969px;
        height: 100%;
        font-size: 12px;
        color: #333;
        text-align: left;
        background:blue;
        .g-live-box {
            width: 100%;
            height: 90px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            background-color: #f7f7f7;
            .hIndexvideoNavChangeBox {
                position: relative;
                float: left;
                display: block;
                font-size: 12px;
                color: #333;
                text-align: left;
                .hTvChangeBox {
                    float: left;
                    display: block;
                    margin-left: 5px;
                    margin-top: 4px;
                    z-index: 2;
                    position: relative;
                }
                 .tv-product {
                    display: none;
                    overflow: hidden;
                    padding-top: 4px;
                    background-color: #ffffff;
                    border: 1px solid #e2e2e2;
                    width: 391px;
                    height: 74px;
                    margin-top: 4px;
                    float: left;
                    display: block;
                    position: relative;
                    margin-left: -1px;
                }
            }
            .hIndexvideoBanner {
                width: auto;
                height: auto;
                font-size: 0;
                overflow: hidden;
                float: left;
                display: block;
                border: 1px solid #dbdbdb;
                margin: 4px 0 0 5px;
            }
            .banner1 {
                border: none;
                margin: 22px 0 0 4px;
                font-size: 0;
                width: 112px;
                height: 48px;
                overflow: hidden;
                float: left;
                display: block;
            }
            
        }
    }
}



    .tp1{
        position: absolute;
        width: 100%;
        height: 500px;
        left: 0;
        top: 249px;
    }
}
.fis1{
    width: 1190px;
    height: 64px;
    margin: 0 auto;
    .pdt1{
    font-size: 24px;
    color: #424242;
    padding-left: 10px;
    padding-bottom: 13px;
    padding-top: 20px;
}
}




// .lbt{
//     height: 590px;
//     width: 1903px;
//     background: blue;
//     margin: 0 auto;
// }