/*
Error: Invalid charset directive '@charset': expected string.
        on line 1 of sass_style/index.sass

1: @charset "utf-8";
2: // $box_width:100px; //普通变量
3: // $box_height:200px!default; //默认的普通办理
4: // $bgcoloe:#00ff00; //普通变量
5: // $text:text-decoration; //特殊变量  不允许。
6: // $none:none;

Backtrace:
sass_style/index.sass:1
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:884:in `parse_charset_directive'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:812:in `parse_directive'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:646:in `parse_line'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:536:in `build_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:555:in `block in append_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:554:in `each'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:554:in `append_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
C:/Ruby26-x64/bin/sass:23:in `load'
C:/Ruby26-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid charset directive '@charset': expected string.\A         on line 1 of sass_style/index.sass\A \A 1: @charset \"utf-8\";\A 2: // $box_width:100px; //普通变量\A 3: // $box_height:200px!default; //默认的普通办理\A 4: // $bgcoloe:#00ff00; //普通变量\A 5: // $text:text-decoration; //特殊变量  不允许。\A 6: // $none:none;"; }
