.nav {
  height: 32px;
  border-bottom: 1px solid #d9d9d7;
}

.nav .nav-1 {
  width: 1303px;
  height: 32px;
  margin: auto;
  background: red;
  display: flex;
  justify-content: space-between;
}

.nav .nav-2 {
  width: 332.2px;
  height: 32px;
  background: rosybrown;
  font-size: 12px;
  text-align: left;
  display: block;
}

.nav .nav-2 .welcome {
  line-height: 32px;
  color: #333;
  float: left;
  display: block;
}

.nav .nav-2 .dl {
  color: #333;
  float: left;
  line-height: 32px;
  display: block;
}

.nav .nav-2 .dl1 {
  color: #333;
  float: left;
  line-height: 32px;
  display: block;
}

.nav .nav-2 .songhuo {
  color: #333;
  float: left;
  line-height: 32px;
  display: block;
}

.nav .nav-2 .tb1 {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-style: normal;
  display: block;
  float: left;
  line-height: 32px;
}

.nav .nav-2 .shanghai {
  width: 48px;
  height: 16px;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 32px;
}

.nav .nav-2 .genghuan {
  width: 49px;
  height: 16px;
  display: block;
  float: left;
  font-size: 16px;
  cursor: pointer;
  line-height: 32px;
}

.nav .nav-3 {
  width: 248px;
  height: 32px;
  background: blue;
  display: flex;
  justify-content: space-evenly;
  font-size: 8px;
}

.nav .nav-3 .wode {
  width: 100px;
}

.nav .nav-3 .guke {
  width: 77px;
}

.nav .nav-3 .yidong {
  width: 55px;
}

.nav .nav-3 .tvb {
  width: 46px;
}

.nav .nav-3 .weixin {
  width: 70;
  font-size: 2px;
}

.logo {
  width: 1303px;
  height: 82px;
  margin: auto;
  background: #d9d9d7;
  margin-top: 10px;
}

.logo .logo1 {
  display: block;
  float: left;
  height: auto;
  width: 140px;
  margin-top: 12px;
  padding: 0;
  text-align: right;
  font-size: 0;
  margin-right: 30px;
  margin-left: 10px;
}

.logo .logo2 {
  width: 210px;
  height: 70px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 6px 0 0 0;
}

.logo .ser {
  width: 450px;
  height: 70px;
  padding: 12px 0 0 41px;
  float: left;
}

.logo .ser .search-bar {
  width: 444px;
  height: 34px;
  border: 3px solid #f12e24;
  position: relative;
  z-index: 100000;
}

.logo .ser .search-bar input {
  float: left;
  width: 367px;
  height: 34px;
  line-height: 34px;
  text-indent: 8px;
  border: 0;
  color: #9da6ab;
}

.logo .ser .search-bar button {
  float: left;
  background: #f12e24;
  width: 77px;
  height: 34px;
  border: 0;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Microsoft YaHei';
  cursor: pointer;
}

.logo .ser .search-down {
  height: 40px;
  width: 450px;
}

.logo .ser .g-hotlist {
  float: right;
  margin-top: 5px;
  display: block;
  height: 18px;
  line-height: 18px;
  margin-right: 0;
}

.logo .ser .keywords {
  width: 361px;
  height: 28px;
  line-height: 28px;
  float: left;
  overflow: hidden;
}

.logo .ser li {
  float: left;
  margin-right: 8px;
  margin-left: 3px;
  line-height: 28px;
  height: 28px;
  list-style: none;
  font-size: 12px;
}

.mycart {
  float: left;
  padding-left: 17px;
  position: relative;
  width: 120px;
  height: 40px;
  margin-top: 12px;
  z-index: 100000;
}

.headerRight {
  width: 140px;
  float: left;
}

.daohang .red {
  height: 34px;
  width: 100%;
  position: relative;
  z-index: 99999;
  background: #f12e24;
  overflow: visible;
  font-size: 12px;
}

.daohang .red .g-container-1190 {
  width: 1190px;
  margin: auto;
}

.daohang .red .g-all {
  width: 220px;
  height: 33px;
  padding: 0;
  padding-top: 1px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  line-height: 34px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur {
  background: #b8362f;
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur1 {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur2 {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .g-global {
  z-index: 2;
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur3 {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur4 {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .red .cur5 {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.daohang .pf {
  width: 1190px;
  margin: auto;
  background-color: #fff;
  position: relative;
  height: 590px;
}

.daohang .pf .banner {
  width: 220px;
  height: 100%;
  position: relative;
  display: block;
  border-right: 1px solid #e0dfdf;
  z-index: 19;
  float: left;
}

.daohang .pf .banner .menu {
  position: relative;
  z-index: 0.5;
}

.daohang .pf .banner .menu ul {
  overflow: hidden;
  padding: 10px 0;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
  margin-top: 10px;
  width: 190px;
}

.daohang .pf .banner .menu ul li {
  height: 25px;
  line-height: 25px;
  padding-left: 18px;
}

.daohang .pf .banner .menu ul li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.daohang .pf .banner .menu ul li span {
  padding: 0 2px;
  font-size: 12px;
}

.daohang .pf .banner .menu .cartlist {
  position: absolute;
  left: 191px;
  top: 0;
  width: 998px;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
}

.daohang .pf .banner .menu .cartlist .item {
  padding: 20px;
  display: none;
}

.daohang .pf .showr {
  float: left;
  display: block;
  position: relative;
  width: 969px;
  height: 100%;
  font-size: 12px;
  color: #333;
  text-align: left;
  background: blue;
}

.daohang .pf .showr .g-live-box {
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: #f7f7f7;
}

.daohang .pf .showr .g-live-box .hIndexvideoNavChangeBox {
  position: relative;
  float: left;
  display: block;
  font-size: 12px;
  color: #333;
  text-align: left;
}

.daohang .pf .showr .g-live-box .hIndexvideoNavChangeBox .hTvChangeBox {
  float: left;
  display: block;
  margin-left: 5px;
  margin-top: 4px;
  z-index: 2;
  position: relative;
}

.daohang .pf .showr .g-live-box .hIndexvideoNavChangeBox .tv-product {
  display: none;
  overflow: hidden;
  padding-top: 4px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  width: 391px;
  height: 74px;
  margin-top: 4px;
  float: left;
  display: block;
  position: relative;
  margin-left: -1px;
}

.daohang .pf .showr .g-live-box .hIndexvideoBanner {
  width: auto;
  height: auto;
  font-size: 0;
  overflow: hidden;
  float: left;
  display: block;
  border: 1px solid #dbdbdb;
  margin: 4px 0 0 5px;
}

.daohang .pf .showr .g-live-box .banner1 {
  border: none;
  margin: 22px 0 0 4px;
  font-size: 0;
  width: 112px;
  height: 48px;
  overflow: hidden;
  float: left;
  display: block;
}

.daohang .tp1 {
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 249px;
}

.fis1 {
  width: 1190px;
  height: 64px;
  margin: 0 auto;
}

.fis1 .pdt1 {
  font-size: 24px;
  color: #424242;
  padding-left: 10px;
  padding-bottom: 13px;
  padding-top: 20px;
}

.st {
  width: 1190px;
  height: 323px;
  margin: auto;
}

.st .lt {
  border: 1px solid #e8e6e6;
  background-color: #ffffff;
  float: left;
  display: block;
  position: relative;
  width: 420px;
  height: auto;
  margin-right: 20px;
}

.st .lt img {
  display: block;
  padding-top: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.st .rt {
  width: 748px;
  position: relative;
  top: 0px;
  z-index: 800;
  display: block;
  height: 100%;
  float: left;
}

.st .rt .t1 {
  float: left;
  display: block;
  border: 1px solid #e8e6e6;
  width: 220px;
  height: 305px;
  padding: 8px;
  background: #ffffff;
  margin-right: 11px;
}

.st .rt .t1 .top1 {
  width: 100%;
  height: 220px;
}

.st .rt .t1 .top1 img {
  width: 220px;
  height: auto;
  display: block;
}

.st .rt .t1 .center1 {
  line-height: 18px;
  height: 36px;
  margin: 12px 0 8px 0;
  padding: 0 0 0 5px;
  overflow: hidden;
  font-size: 14px;
  color: #2c2c2c;
  text-align: left;
}

.st .rt .t1 .bottom1 {
  font-size: 16px;
  color: #ea0505;
  text-align: left;
  padding: 8px 0 0 0;
  font-weight: bold;
  font-family: "Arial";
}

.footer {
  width: 1190px;
  height: 200px;
  background: yellow;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .aboutus {
  width: 1000px;
  height: 159px;
  display: flex;
  align-items: center;
}

.footer .aboutus ul {
  width: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.footer .aboutus ul p {
  font-size: 14px;
  margin-bottom: 18px;
}

.footer .aboutus ul li {
  font-size: 12px;
  color: #757e89;
  margin-bottom: 8px;
}

.footer .aboutus section {
  width: 201px;
  border-left: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .aboutus section span {
  color: #ff6b00;
  font-size: 18px;
  margin-bottom: 7px;
}

.footer .aboutus section p {
  font-size: 12px;
}

.footer .aboutus div {
  width: 98px;
  height: 23px;
  border: 1px solid #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.footer .aboutus div span {
  font-size: 12px;
  margin: 0;
}

.dibu1 {
  width: 1190px;
  height: 230px;
  margin: auto;
}
